ion-content{

    
   --background: url(../../assets/light.svg);
    border-bottom-color: transparent !important;
}
ion-item{
    --ion-background-color: white;
}
ion-segment-button {
    
    
    --indicator-color-checked: transparent;
  }

.true{
    background-color: #ffffff; 
    width: 5px; height: 5px; 
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}
.false{

  background-color: #ffffff; 
    width: 5px; height: 5px; 
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}