
<ion-header>
</ion-header>
<ion-content >
    <ion-grid>
        <ion-row style="width: 70%; margin:auto; margin-top: 30%; ">
          <p style="color:white; margin-left:auto; margin-right: auto; font-family: Comic Sans MS, cursive, sans-serif; font-style: italic; font-size: 200%">A step closer!</p>
          <ion-col col-4 style=" background: linear-gradient(to bottom right, #f39e77, #FF8C00); border-radius: 10px;"> 
            <ion-segment mode="ios" class="segment" [(ngModel)]="board">
              <ion-segment-button id="login" (click)="logintab()"   value="meallist" style="background-color: #ffffff; border-radius: 10px; white-space: inherit;">
                 <ion-label style="color: black;">Login</ion-label> 
              </ion-segment-button>
              <ion-segment-button id="signup"  (click)="registertab()" value="mapview"  style=" border-radius: 10px; white-space: inherit;">
               <ion-label style="color: black">Register</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-slides #slides pager="true" [options]="slideOpts" (ionSlideReachEnd)="lastSlide()" (ionSlidePrevStart)="firstSlide()">
      <ion-slide>
      <ion-card mode="ios" style="margin-top: 10%; background-color: white; width: 80%; margin-left: auto; margin-right:auto;">
          <ion-card-content style="background: white;">
            <ion-list lines="none" style="background-color: white;">
                <ion-item no-lines>
                    <ion-icon name="ios-mail" color="primary"></ion-icon>
                  <ion-input style="background: white;" name="email"  type="email" placeholder="email" required></ion-input>
                  </ion-item>
                  <span style="color: grey;width:2px;"></span>
                 <ion-item no-lines>
                    <ion-icon name="lock" color="primary"></ion-icon>
                  <ion-input name="password" type="password" placeholder="Password" required></ion-input>
                  <!-- <ion-icon name="eye"></ion-icon>  -->
                </ion-item>
                <br/> 
                 
                    <ion-button (click)="login()">SIGN IN</ion-button>
                  
                </ion-list>
          </ion-card-content>
        </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card mode="ios" style="margin-top: 5%; background-color: white; width: 80%; margin-left: auto; margin-right:auto;">
                <ion-card-content style="background: white;">
                  <ion-list lines="none" style="background-color: white;">
                      <ion-item no-lines>
                          <ion-icon name="contact" color="primary"></ion-icon>
                        <ion-input style="background: white;" name="name"  type="text" placeholder="Full Name" required></ion-input>
                        </ion-item>
                        <span style="color: grey;width:2px;"></span>
                        <ion-item no-lines>
                            <ion-icon name="mail" color="primary"></ion-icon>
                          <ion-input style="background: white;" name="email"  type="email" placeholder="email" required></ion-input>
                          </ion-item>
                          <span style="color: grey;width:2px;"></span>
                          <ion-item no-lines>
                              <ion-icon name="call" color="primary"></ion-icon>
                            <ion-input style="background: white;" name="phone"  type="number" placeholder="Phone Number" required></ion-input>
                            </ion-item>
                            <span style="color: grey;width:2px;"></span>
                            <ion-item no-lines>
                                <ion-icon name="lock" color="primary"></ion-icon>
                              <ion-input name="password" type="password" placeholder="Confirm Password" required></ion-input>
                              <!-- <ion-icon name="eye"></ion-icon>  -->
                            </ion-item>
                              <span style="color: grey;width:2px;"></span>
                       <ion-item no-lines>
                          <ion-icon name="lock" color="primary"></ion-icon>
                        <ion-input name="password" type="password" placeholder="Password" required></ion-input>
                        <!-- <ion-icon name="eye"></ion-icon>  -->
                      </ion-item>
                      <br/>
                       
                        <ion-button full>SIGN UP</ion-button>
                      
                      </ion-list>
                </ion-card-content>
              </ion-card>
              </ion-slide>
        </ion-slides>
        
        
</ion-content>
