ion-content{

    
  --background: url(../../assets/tabsbck.svg);
   border-bottom-color: transparent !important;
}
 ion-card{
  width: 100%;
 
}

 
.badge{
   
    background-color: orange;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;

}