 
 
    <ion-toolbar translucent color="white">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false" color="primary"></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
   
<ion-content fullscreen *ngIf="profile">
<ion-card style="background: white; margin-left: 20px; margin-right: 20px;">
  <ion-card-header>
    <ion-title style="text-align: center;">Personal Profile</ion-title>
  </ion-card-header>
  <ion-card-content>
    <div class="profile-picture">
    <img src="assets/imgs/lee.png"/>
    </div>
    <div>
        <ion-item>
            <ion-label class="profile-name">{{profile.name}}</ion-label>
          </ion-item>
              <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-icon name="beer"></ion-icon>
                      <div>
                       {{tdee}} Kcal
                      </div>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="walk"></ion-icon>
                      <div>
                       3 km
                      </div>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="clock"></ion-icon>
                      <div>
                       {{bmi}}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
    </div>
  </ion-card-content>
</ion-card>
<ion-card style="background: white; margin-left: 20px; margin-right: 20px;">
  <ion-card-header>
    <ion-title>Health Profile</ion-title>
  </ion-card-header>
  <ion-card-content>
       
           
          <ion-row style="  border-top: 0.1px solid #d8d8d8 ;">
            <ion-col col-6><span data-left>Weight</span> </ion-col>
            <ion-col col-6>
              <span data-right>{{profile.weight}} Kg</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6><span data-left>Height</span></ion-col>
            <ion-col col-6>
              <span data-right>{{profile.height}} M</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6><span data-left>Age</span></ion-col>
            <ion-col col-6>
              <span data-right>{{profile.age}} Yrs</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6><span data-left>BMI</span></ion-col>
            <ion-col col-6>
              <span data-right>{{bmi}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-6><span data-left>Daily Energy expenditure</span></ion-col>
              <ion-col col-6>
                <span data-right>{{tdee}} (+/-) 200 Kcal</span>
              </ion-col>
            </ion-row>
          
       
  </ion-card-content>
  
</ion-card>

<ion-card style="background: white; margin-left: 20px; margin-right: 20px;">
  <ion-card-header>
    <ion-title>Actions</ion-title>
  </ion-card-header>
  <ion-card-content>
       <ion-button (click)="logout()">
         Logout
       </ion-button>
       <ion-button end (click)="editprofile()">
        Edit Profile
      </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
